  .estado-mesa {
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100px;
    text-align: center;
  }
  .bg-success {
    background-color: #28a745 !important;
    color: white;
  }
  .bg-danger {
    background-color: #dc3545 !important;
    color: white;
  }