
@media (max-width: 768px) {
    .row.g-3 {
        display: flex;
        justify-content: space-between;
    }

    .col-md-3 {
        width: 48%; 
        margin-bottom: 10px;
    }

}

@media (min-width: 768px) {
    .row.g-3 {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px; 
    }

    .col-md-3 {
        width: 100%;
    }  
}
